<div class="col-sm-12 footer">
    <!-- <div class="container"> -->
        <div class="row">
                <div class="col-sm-5">
                        <img src="/dp.png" class="songimage" id="current-song-image" alt="">
                        <p id="current-song-name" style="display: inline;"></p>
                </div>
                
                <div class="col-sm-7">
                        <audio id="current-song" controls></audio>
                </div>
        </div>
    <!-- </div> -->
</div>