<div class="col-sm-12 footer">
    <div class="row">
            <div class="col-sm-5">
                    <img src="/Senorita.jpg" id="songimage" alt="">
            </div>
        
            <div class="col-sm-7">
                    <img src="/Senorita.jpg" id="songimage" alt="">
            </div>
    </div>
</div>