<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="sidebar.css">
    <title>Playlist Manager</title>
    <style>
        body {
          /* background-image: url("acoustic-guitar-336479_960_720.jpg"); */
          padding: 0;
          margin: 0;
          max-width: 100%;
        }

        #browse-li {
          background-color: #0C75FA;
        }

    </style>
  </head>
  <body>
      <div class="row" style="max-width:100%; margin:0;">
        <% include partials/sidebar.ejs %>
        <div class="col-sm-9 rightdiv">
          <div class="container" style="margin-top:60px;">
            <div class="row">
              <div class="col-sm-3">
                <a href="/category/pop">Pop</a>
              </div>
              <div class="col-sm-3">
                  <a href="/category/relaxing">Relaxing</a>
              </div>
              <div class="col-sm-3">
                  <a href="/category/workout">Workout</a>
              </div>
              <div class="col-sm-3">
                  <a href="/category/romantic">Romantic</a>
              </div>
                <!-- <div class="row" style="padding:0;">
                    <div class="col-sm-12">
                      <br>
                      <br>
                      <br>
                    </div>
                </div>
              
                <center>
                  <button id="prev" type="button" name="button">Prev</button>
                  <button id="play" type="button" name="button">Play</button>
                  <button id="next" type="button" name="button">Next</button>
                </center>
                <br>
                <br>
                <br>
              
                <div class="row" style="padding:0;">
                    <div class="col-sm-4">
                      <p>Your Songs</p>
                      <div id="viewmySongs">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <p>Currently Playing</p>
                      <p id="songname"></p>
                    </div>
                    <div class="col-sm-4">
                      <p>Avialable Songs</p>
                      <div id="viewallSongs">
                      </div>
                    </div>
                </div>
                <audio controls>
                  <source src="07 Stay a Little Longer (Anushka Shahaney) 320Kbps.mp3" type="audio/mpeg">
                    <source src="07 Stay a Little Longer (Anushka Shahaney) 320Kbps.mp3" type="audio/mpeg">
                </audio> -->
            </div>
          </div>
        </div>
    </div>

  </body>
  <!-- <script type="text/javascript" src="PlaylistManager.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/sidebar.js"></script>
</html>
