
  body {
    background-color:#F8F8F8;
  }

  html, body {
    margin: 0;
    height: 100%;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: white;
    /* z-index: 9; */
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .category-divs {
    margin-bottom: 30px;
  }

  .songimage {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .songname-tag {
    display: inline;
  }

  .songdiv {
    margin-bottom: 20px;
    cursor: pointer;
    border: 2px solid darkslategray;
    border-radius: 4%;
    box-shadow: 0px 0px 20px 0px black;
    text-shadow: 0px 0px 0px black;
  }

  .rightdiv {
    /* position: fixed; */
    /* margin-left: 0px; */
    height: 100%;
    position: relative;            
    margin-left: 300px;
    margin-top:60px;
  }

  .header {
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  }

  .footer {
    height: 70px;
    padding-top: 10px;
    padding-left: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* border: 5px solid red; */
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  }

  .bar-button {
    display: block;
  }

  .sidebar {
    /* z-index: 1; */
    /* left: -300px;
    z-index: 99;
    height: 100%;
    position: fixed;
    width: 300px;
    padding: 0;
    margin-top:60px;
    background-color:  rgba(0,0,0,.9);
    color: rgba(255, 255, 255, 0.6);
    overflow-y: scroll; */

    position: fixed;
    /* width: 150px; */
    background-color: #DDD; 
    font-size: 21px;
    overflow-y: scroll;
    top: 60px;
    bottom: 70px;
    width: 300px;
    background-color:  rgba(0,0,0,.9);
    color: rgba(255, 255, 255, 0.6);

  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar ul li {
    display: block;
    font-family: 'Literata', serif;
  }

  .sidebar ul li a {
    padding: 12px 0px 10px 15px;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 20px;
  }

  .sidebar li:hover {
    background-color: #0C75FA;
  }

  .icons {
    width: 35px;
    font-size: 23px;
  }

  @media (min-width:572px) {
    .rightdiv {
      /* position: fixed; */
      margin-left: 292px;
    }

    .sidebar {
      left: 0;
    }

    .bar-button {
      display: none;
    }
  }


  /* Snackbar */

  /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}